@font-face {
    font-family: 'port_lligat_slabregular';
    src: url('../../../recit_francais/scss/portlligatslab-regular-webfont.woff2') format('woff2'),
    url('../../../recit_francais/scss/portlligatslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: 'ubunturegular', sans-serif;
$subheadings-font-family: 'vigaregular', sans-serif;
$headings-font-family: 'Rubik', sans-serif; //'port_lligat_slabregular', serif
$figuretexte: ''ubunturegular', sans-serif;

$enable-gradients: true;
$primary:#494755; //4b4a4e
$secondary:#1a425c; //009ccd
$secondarypale:#3366cc; //0082C6
$success:#59b58e; //b7d233
$danger:#df6660; //d0181e
$info:#fbb140;
$warning:#e9c06b; //FFE869
$light:#FDFBF7; //
$dark:#555555; //
$white:#ffffff; //

$color1:#635a51;
$color2:#767676;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#1A425C;
$theme_color2:#E9C06B;
$theme_color3:#59B5BE;
$theme_color4:#DF6660;
$theme_color5:#494755;

$btn-radius: 30px;
$navbar-header-color: #fff !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: $primary !default;

$body-bg: #eef5f9 !default;

$card-border-radius: 0 !default;
$card-border-color: #d7dfe3 !default;

$navbar-height: 50px !default;
$navbar-bg: $primary !default;
$navbar-bg-hover: $secondary !default;
$navbar-separator: $secondary !default;

$calendarEventCategoryColor: #fc4b6c !default;
$calendarEventCourseColor: #7460ee !default;
$calendarEventGlobalColor: #1e88e5 !default;
$calendarEventGroupColor: #ffb22b !default;
$calendarEventUserColor: #26c6da !default;

$m-login-padding: 10px;
$m-login-boxheight: 350px;
$m-card-padding: 1.25rem;
$m-moodle-color: #f98012 !default;
$m-facebook-color: #3b5998 !default;
$m-twitter-color: #55acee !default;
$m-youtube-color: #cc181e !default;
$m-googleplus-color: #d34836 !default;
$m-linkedin-color: #007bb5 !default;
$m-instagram-color: #8a3ab9 !default;

$carousel-control-color: $secondary !default;
$carousel-control-prev-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'$secondary\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E" !default;
$carousel-control-next-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'$secondary\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E" !default;



h3 {
    font-family: $headings-font-family !important;
}
/*-------------------------------*\
    PAGE HEADER
\*-------------------------------*/
#page-header {
	height:130px!important;
    .card {
		height:130px;
		background: #1d1d1b;
		background-image: url("https://recitfad.ca/depot/fra/banerefra.png");
		background-repeat: no-repeat;
		background-size: 2017px 130px !important;
        background-position: top right !important;
     }
}
/*-------------------------------*\
    Custom rows styles
\*-------------------------------*/
.color-row {
    background: #004e95;
}
.diago-row {
    background: #0057a7;
    background: -moz-linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    background: -webkit-linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    background: linear-gradient(75deg, #004e95 0%, #004e95 50%, #0057a7 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004e95",endColorstr="#0057a7",GradientType=1);
}
.degrade-row {
    background: rgb(0,58,109);
    background: -moz-linear-gradient(45deg,  rgba(0,58,109,1) 0%, rgba(19,97,165,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(0,58,109,1) 0%,rgba(19,97,165,1) 100%);
    background: linear-gradient(45deg,  rgba(0,58,109,1) 0%,rgba(19,97,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a6d', endColorstr='#1361a5',GradientType=1 );
}


/*-------------------------------*\
    Buttons - Bars
\*-------------------------------*/
/*-- Button 1 --*/
h5 a,
h5 a.style_btn_1 {
    display: inline-block;
    padding: 4px 10px;
    color: $theme_color4;
    border: solid 2px $theme_color4;
    background: $white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
h5 a:hover,
h5 a.style_btn_1:hover {
    text-decoration: none;
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}
.recit-btn, .recit-btn-style_btn_1 {
    display: inline-block;
    padding: 4px 10px;
    color: $theme_color4;
    border: solid 2px $theme_color4;
    background: $white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.recit-btn-style_btn_1:hover {
    text-decoration: none;
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}/*-- Button 2 --*/
.recit-btn-style_btn_2, h5 a.style_btn_2 {
    color: $theme_color3;
    border: solid 2px $theme_color3;
    background: $white;
}
.recit-btn-style_btn_2:hover, h5 a.style_btn_2:hover {
    color: $white;
    border: solid 2px $theme_color3;
    background: $theme_color3;
}
/*-- Button 3 --*/
.recit-btn-style_btn_3, h5 a.style_btn_3 {
    color: $theme_color1;
    border: solid 2px $theme_color1;
    background: $white;
}
.recit-btn-style_btn_3:hover, h5 a.style_btn_3:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 4 --*/
.recit-btn-style_btn_4. h5 a.style_btn_4 {
    color: $theme_color1;
    border: solid 2px $theme_color2;
    background: $theme_color2;
}
.recit-btn-style_btn_4:hover, h5 a.style_btn_4:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 5 --*/
.recit-btn-style_btn_5, h5 a.style_btn_5 {
    color: $white;
    border: solid 2px $theme_color3;
    background: $theme_color3;
}
.recit-btn-style_btn_5:hover, h5 a.style_btn_5:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
/*-- Button 6 --*/
.recit-btn-style_btn_6,h5 a.style_btn_6 {
    color: $white;
    border: solid 2px $theme_color4;
    background: $theme_color4;
}
.recit-btn-style_btn_6:hover, h5 a.style_btn_6:hover {
    color: $white;
    border: solid 2px $theme_color1;
    background: $theme_color1;
}
