/**************************************
 * FONTS
 *************************************/
$font-family-sans-serif: 'ubunturegular', sans-serif;
 $subheadings-font-family: 'vigaregular', sans-serif;
 $headings-font-family: 'vigaregular', sans-serif; //'port_lligat_slabregular', serif
 $figuretexte: 'ubunturegular', sans-serif;
 
 /**************************************
 * COLORS
 *************************************/
$primary:#494755;
$primaryBold: #19191e;
$secondary:#1a425c;
$secondaryBold: #0e2635;
$secondarypale:#3366cc;
$success:#59b58e;
$danger:#df6660; 
$warning:#e9c06b;
$light:#FDFBF7; 
$dark:#555555; 

$color1:#635a51;
$color2:#767676;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#FFFFFF;

$theme_color1:#1A425C;
$theme_color2:#E9C06B;
$theme_color3:#59B5BE;
$theme_color4:#DF6660;
$theme_color5:#494755;

/**************************************
 * GENERAL
 *************************************/

$navbar-height: 50px !default;

